.login-container{
    overflow: hidden;
    .graphic-container{
        background: #1D32C4;
        background-image: linear-gradient( to bottom left, #1D32C4, rgb(62, 79, 192));
        height: 100vh;
        display: flex!important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 99;
        .svg-plus-blue{
            position: absolute;
            bottom: 20%;
            left: -70px;
            z-index: -98;
        }
        
        .graphic-items{
            width: 60%;
            h1{
                color: #f4f4fb;
                font-size: 55px;
                font-weight: 700;
                line-height: 70px;
                position: relative;
            }
            p{
                color: #bdc3d8;
                font-size: 14px;
                margin: 20px 0;
                position: relative;
            }
        }
    }
    .form-container{
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position:relative;
        .svg-plus-blue{
            position: absolute;
            bottom: -37px;
            right: -40px;
        }
        .svg-dplus-blue{
            position: absolute;
            left: -46px;
            top: 6%;
        }
        .svg-box-grey{
            position: absolute;
            left:0%;
            bottom: 0;
        }
        .form-items{
            padding: 15%;
            h3{
                font-weight: bold;
                margin-bottom: 10%;
            }
            p{
                margin-top: 10%;
                font-size: 14px;
                position: relative;
                padding-bottom: 30px;
            }
            p:after{
                position: absolute;
                left: 0;
                bottom: 0;
                content: "";
                height: 3px;
                width: 20%;
                background: #4364d1;
            }
            form{
                margin-top: 15%;
                .input-container{
                    position:relative;
                    .login-input{
                        width:100%;
                        height: 50px;
                        border: 1px solid #eaecee;
                        border-radius: 3px;
                        padding-left: 45px;
                        outline:none;
                        font-size: 14px;
                    }
                    .login-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: #7c8491;
                        font-size: 12px;
                        letter-spacing: 1px;
                    }
                    .login-input::-moz-placeholder { /* Firefox 19+ */
                        color: #7c8491;
                        font-size: 12px;
                        letter-spacing: 1px;
                    }
                    .login-username{
                        border-bottom: none;
                    }
                    .login-password{
                        font-size: 22px;
                        line-height: 22px;
                    }
                    i{
                        position: absolute;
                        left: 15px;
                        top: 17px;
                        color: #7c8491;
                    }
                }
                .login-btn{
                    background: #31d088;
                    color: #fff;
                    margin-top: 40px;
                    width:49%;
                    height: 50px;
                    outline: none;
                    border: none;
                    border-radius: 3px;
                    border: 1px solid #2ab878;

                }
                .register-btn{
                    margin-left: 2%;
                    color: #7c8491;
                    border: 1px solid #dbdee0;
                    line-height: 48px;
                    display: inline-block;
                    text-align: center;
                    width:49%;
                    height: 50px;
                    border-radius: 3px;
                    // box-shadow: 2px 2px 10px 1px #eaecee;s
                }
                
            }
            .forgot-pwd{
                color: #535D67;
                text-decoration: underline;
                font-size: 14px;
                margin-top: 20px;
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .login-container{
        .graphic-container{
            .graphic-items{
                h1{
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 45px;
                }
            }
        }
    }
}